@tailwind base;
@tailwind components;
@tailwind utilities;

.material-icons {
	font-size: 2rem;
}

@layer utilities {
	.background {
		background-size: contain;
		background-repeat: no-repeat;
		background-position: right;
	}
	.border-width {
		border-left-width: 15px;
		border-right-width: 15px;
	}
}
