@tailwind base;
@tailwind components;
@tailwind utilities;

.material-icons {
	font-size: 2rem;
}

@layer utilities {
	.background {
		background-size: contain;
		background-repeat: no-repeat;
		background-position: right;
	}
}
